.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;  // Hacer que el contenedor ocupe al menos la altura de la ventana
}

.containerArticle {
    flex: 1;  // Esto hace que el contenido ocupe todo el espacio disponible
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.sectionText {
    flex: 2;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: bold;
}

.paragraph {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.link {
    color: #1a73e8;
    text-decoration: underline;
}

.sectionImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
